{% extends "base_project.html" %}
{% block menu %}
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" href="/project/{{ project.id }}">Home</a>
        <a class="nav-link" href="/project/{{ project.id }}/certificates">Certificates</a>
        <div class="nav-link">
            <hr/>
        </div>
        <a class="nav-link" href="/certificate/{{ cert.id }}"># {{ cert.id }}</a>
        <div class="nav-link">
            <hr/>
        </div>
        <a class="nav-link" href="/certificate/{{ cert.id }}/stunnel">Stunnel</a>
        <a class="nav-link active" href="/certificate/{{ cert.id }}/nginx">Nginx</a>
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Basic SSL configuration</h3>
                <a href="nginx/basic">Download full config</a>
                <pre>server {
    listen              443 ssl;
    server_name         {{ cert.common_name }};
    ssl_certificate     <a href="cert">{{ cert.id }}.crt;</a>
    ssl_certificate_key <a href="key">{{ cert.id }}.key;</a>
    ssl_ciphers         HIGH:!aNULL:!MD5;
}</pre>

            </div>
            <div class="col-md-6">
                <h3>SSL with client authorization</h3>
                <a href="nginx/with-auth">Download full config</a>
                <pre>server {
    listen                 443 ssl;
    server_name            {{ cert.common_name }};
    ssl_certificate        <a href="cert">{{ cert.id }}.crt;</a>
    ssl_certificate_key    <a href="key">{{ cert.id }}.key;</a>
    ssl_client_certificate <a href="../../project/{{ project.id }}/root/cert">ca-{{ project.id }}.crt;</a>
    ssl_ciphers            HIGH:!aNULL:!MD5;
    ssl_verify_client      on;

}</pre>
            </div>
        </div>


    </div>
{% endblock %}