{% extends "base_project.html" %}
{% block menu %}
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" href="/project/{{ project.id }}">Home</a>
        <a class="nav-link" href="/project/{{ project.id }}/certificates">Certificates</a>
        <div class="nav-link">
            <hr/>
        </div>
        <a class="nav-link active" href="/certificate/{{ cert.id }}"># {{ cert.id }}</a>
        <a class="nav-link" href="/certificate/{{ cert.id }}/stunnel">Stunnel</a>
    </div>
{% endblock %}
{% block body %}
    <div class="details">
        <div class="row">
            <div class="col-md-2">
                Common name
            </div>
            <div class="col-md-10">
                {{ cert.common_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Issuer
            </div>
            <div class="col-md-10">
                <a href="../project/{{ cert.project_id }}">{{ cert.project.title }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Serial num
            </div>
            <div class="col-md-10">
                {{ cert.id }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Created
            </div>
            <div class="col-md-10">
                {{ cert.created_at.strftime('%Y-%m-%d') }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Expire at
            </div>
            <div class="col-md-10">
                {{ cert.expire_at.strftime('%Y-%m-%d') }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Revoked
            </div>
            <div class="col-md-10">
                {% if cert.revoked_at %}
                    {{ cert.revoked_at.strftime('%Y-%m-%d') }}
                {% elif not cert.is_active %}
                    expired
                {% else %}
                    <form method="post" action="../revoked">
                        <button class="btn btn-outline-danger" type="submit" name="cert" value="{{ cert.id }}">
                            revoke
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Public certificate
            </div>
            <div class="col-md-10">
                <pre>{{ cert.public_cert.decode() }}</pre>
                <a href="{{ cert.id }}/cert" class="btn btn-outline-success">download</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Private key
            </div>
            <div class="col-md-10">
                <a href="{{ cert.id }}/key" class="btn btn-outline-success">download</a>
            </div>
        </div>
    </div>
{% endblock %}