{% extends "base_project.html" %}
{% block menu %}
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" href="/project/{{ project.id }}">Home</a>
        <a class="nav-link active" href="/project/{{ project.id }}/certificates">Certificates</a>
    </div>
{% endblock %}
{% block body %}
    {% if project.ca_cert %}
        <form method="post" action="/project/{{ project.id }}/generate-signed">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="cn">Common Name</label>
                        <input id="cn" class="form-control" type="text" name="cn"
                               placeholder="certificate common name"/>
                        <small class="form-text text-muted">general node, domain or system name</small>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="days">Days</label>
                        <input id="days" class="form-control" type="number" name="days" placeholder="Days"
                               value="365"/>
                        <small class="form-text text-muted">expiration</small>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="btn">&nbsp;</label><br/>
                    <button id="btn" type="submit" class="btn btn-outline-primary">generate and sign</button>
                </div>
            </div>

        </form>
    {% else %}
        <div class="alert alert-info" role="alert">
            To generate and sign keys CA (project) public and private keys are required.<br/>
            It can be issued on <a href="/project/{{ project.id }}">project page</a>
        </div>
    {% endif %}
    <br/>
    <div class="row">

        {% for cert in project.certificates %}
            <div class="col-xl-2 col-lg-3 col-md-4" style="margin-bottom: 5px">
                <div class="card{% if not cert.is_active %} bg-secondary{% endif %}">
                    <div class="card-body">
                        <h5 class="card-title">#{{ cert.id }} {{ cert.common_name }}</h5>
                        <p class="card-text">
                            issued at <code>{{ cert.created_at.strftime('%Y-%m-%d') }}</code>
                            till <code>{{ cert.expire_at.strftime('%Y-%m-%d') }}</code>
                        </p>
                        <a href="/certificate/{{ cert.id }}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}