<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }}</title>
    <link rel="stylesheet" href="../../static/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="../../" class="navbar-brand">Keys management</a>
    <a class="btn btn-outline-light" href="{{ project.id }}/root/cert">CA certificate</a>
    <a class="btn btn-outline-info" href="{{ project.id }}/revoked">Revoke list</a>
</nav>
<div class="container">
    <h1>{{ project.title }}</h1>


    <br/>
    {% if not project.ca_cert %}
        <h2>Generate root CA</h2>
        <form method="POST" action="{{ project.id }}/generate-root">
            <div class="input-group">
                <input class="form-control" type="text" name="cn" placeholder="Common name"
                       value="{{ project.title | lower }}"/>
                <input class="form-control" type="number" name="days" placeholder="Days" value="365"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary">generate root CA</button>
                </div>
            </div>
        </form>
    {% else %}
        <div class="row">
            <div class="col-6">
                <form method="post">
                    <div class="form-group">
                        <label for="description">Project description</label>
                        <textarea id="description" class="form-control" name="description" placeholder="Description"
                                  style="margin-bottom: 5px">{{ project.description }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">
                        update description
                    </button>

                </form>
            </div>
            <div class="col-6">
                <form method="post" action="{{ project.id }}/generate-signed">
                    <div class="form-group">
                        <label for="cn">Common Name</label>
                        <input id="cn" class="form-control" type="text" name="cn"
                               placeholder="certificate common name"/>
                        <small class="form-text text-muted">General node, domain or system name</small>
                    </div>
                    <div class="form-group">
                        <label for="days">Days before expiration</label>
                        <input id="days" class="form-control" type="number" name="days" placeholder="Days" value="365"/>

                    </div>
                    <button type="submit" class="btn btn-outline-primary">generate and sign</button>
                </form>
            </div>
        </div>
        <br/>
        <table class="table table-light">
            <thead>
            <tr>
                <th>S/N</th>
                <th>Name</th>
                <th>Created</th>
                <th>Expire</th>
                <th>Revoked</th>
                <th>Public</th>
                <th>Private</th>
            </tr>
            </thead>
            {% for cert in project.certificates %}
                <tr>
                    <td>{{ cert.id }} </td>
                    <td>
                        {{ cert.common_name }}
                    </td>
                    <td>
                        {{ cert.created_at.strftime('%Y-%m-%d') }}
                    </td>
                    <td>
                        {{ cert.expire_at.strftime('%Y-%m-%d') }}
                    </td>
                    <td>
                        {% if cert.revoked_at %}
                            {{ cert.revoked_at.strftime('%Y-%m-%d') }}
                        {% elif not cert.is_active %}
                            expired
                        {% else %}
                            <form method="post" action="../revoked">
                                <button class="btn btn-outline-danger" type="submit" name="cert" value="{{ cert.id }}">
                                    revoke
                                </button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <a href="../certificate/{{ cert.id }}/cert" class="btn btn-outline-success">certificate</a>
                    </td>
                    <td>
                        <a href="../certificate/{{ cert.id }}/key" class="btn btn-outline-info">key</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
</body>
</html>