{% extends "base_project.html" %}
{% block menu %}
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" href="{{ project.id }}">Home</a>
        <a class="nav-link" href="{{ project.id }}/certificates">Certificates</a>
    </div>
{% endblock %}
{% block body %}
    <div class="details">
        <div class="row">
            <div class="col-md-2">
                Project description
            </div>
            <div class="col-md-10">
                <form method="post">
                    <div class="form-group">
                        <textarea id="description" class="form-control" name="description" placeholder="Description"
                                  style="margin-bottom: 5px">{{ project.description }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">
                        update description
                    </button>
                </form>
            </div>
        </div>
        {% if project.ca_cert %}
            <div class="row">
                <div class="col-md-2">
                    CA certificate
                </div>
                <div class="col-md-10">
                    <pre>{{ project.ca_cert.decode() }}</pre>
                    <a class="btn btn-outline-success" href="{{ project.id }}/root/cert">download</a>
                    <br/>
                    <small>Public certificate</small>
                    <br/>
                    <a href="https://askubuntu.com/a/377570/170954">Read how to install CA certificate globally</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    CRL
                </div>
                <div class="col-md-10">

                    <a class="btn btn-outline-info" href="{{ project.id }}/revoked">download</a>
                    <br/>
                    <small>Signed list of revoked certificates</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Export certificates
                </div>
                <div class="col-md-10">
                    <a class="btn btn-outline-success" href="{{ project.id }}/export/certs">download</a>
                    <br/>
                    <small>Export CA and nodes certificates with CRL list</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    CA private key
                </div>
                <div class="col-md-10">
                    <a class="btn btn-danger" href="{{ project.id }}/root/key">download</a>
                    <br/>
                    <small><b>Sensitive information!</b></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Export all
                </div>
                <div class="col-md-10">
                    <a class="btn btn-outline-danger" href="{{ project.id }}/export">download</a>
                    <br/>
                    <small><b>Sensitive information!</b></small>
                </div>
            </div>
        {% endif %}
    </div>
    <br/>
    {% if not project.ca_cert %}
        <h2>Generate root CA</h2>
        <form method="POST" action="{{ project.id }}/generate-root">
            <div class="row">
                <div class="col-md-7">
                    <label for="catitle">Common name</label>
                    <input id="catitle" class="form-control" type="text" name="cn" placeholder="Common name"
                           value="{{ project.title | lower }}"/>
                </div>
                <div class="col-md-3">
                    <label for="catitle">Valid days</label>
                    <input id="cadays" class="form-control" type="number" name="days" placeholder="Days" value="365"/>
                </div>
                <div class="col-md-2">
                    <label>&nbsp;</label><br/>
                    <button type="submit" class="btn btn-outline-primary">generate</button>
                </div>
            </div>
        </form>

    {% endif %}
{% endblock %}